.footer {
  background-color: black;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer i {
  color: white;
  font-size: 60px;
}

.footer i:hover {
  color: blanchedalmond;
}
